<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logofinal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APP_INT_MENU"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        >

        <activity
            android:name=".Arepa"
            android:exported="false" />
        <activity android:name=".Hamburguesa"
            android:exported="false"
            />
        <activity android:name=".Cafe"
            android:exported="false"
            />
        <activity android:name=".Helado"
            android:exported="false"
            />
        <activity android:name=".Perro"
            android:exported="false"
            />
        <activity android:name=".ProductoMain"
            android:exported="false"
            />
        <activity android:name=".BebidaMain"
            android:exported="false"
            />
        <activity android:name=".PostreMain"
            android:exported="false"
            />
        <activity android:name=".RegistroActivity"
            android:exported="false"
            />
        <activity android:name=".MenuActivity"
            android:exported="false"
            />

        <activity
            android:name=".MainActivity"
            android:exported="true">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>